@using BLL.Interface.Models
@using MvcUI.ViewModels
@model LotsViewModel
@{
    ViewBag.Title = "Index";
}

<script src="@Url.Content("~/Scripts/LotManager/ViewLots.js")"></script>

<script type="text/javascript">
    var viewLotsObject = new viewLots();

    viewLotsObject.LOT_ACTION_URL = '@Url.Action("Lots")';
    viewLotsObject.ALL_LOTS = 'all_lots';
    viewLotsObject.MY_LOTS = 'my_lots';
    viewLotsObject.MY_RATES_LOTS = 'my_rates_lots';
    viewLotsObject.loadingImage = '@Url.Content("~/content/loadingImages/760.gif")';

    // page loaded
    $(document).ready(function () {
        viewLotsObject.currentTab = viewLotsObject.ALL_LOTS;
        viewLotsObject.lightTab(viewLotsObject.ALL_LOTS);
    });
</script>

<h2>Index</h2>

<body>
<div>
    <div class="col-md-4" style="background-color: yellow">
        А тут будут категории, по которым можно будет отбирать лоты:<br /><br />

        <p>
            <b>Search by author artwork:</b><br />
            <input type="text" size="25"><br /><br />

            <b>price ot i do</b><br />
            <input type="text" size="10" style="margin-right: 10px;"><input type="text" size="10"><br /><br />
            
    </div>
    <div class="col-md-8" style="background-color: wheat">

        <button id="allLotsButton"
                onclick="viewLotsObject.openTab(viewLotsObject.ALL_LOTS)">
            All lots
        </button>

        <button id="myLotsButton"
                onclick="viewLotsObject.openTab(viewLotsObject.MY_LOTS)">
            My lots
        </button>

        <button id="myRatesLotsButton"
                onclick="viewLotsObject.openTab(viewLotsObject.MY_RATES_LOTS)">
            My rates
        </button>

        <div id="lotList">
            @{
                Html.RenderAction("Lots");
            }
        </div>
    </div>
</div>


</body>





