@using MvcUI.ViewModels
@model AboutModel
@{
    ViewBag.Title = "About";
}

<h2>Art auction</h2>

<div>
    <p>There is description of project.</p>
    <p>ART Auction is a resource where contemporary artists can exhibit their own work.</p>

    <br/><hr/>
    <h4>Some statistical info about the site:</h4>
    <hr />
</div>

<div>
    <div> Count all users: @Model.CountUsers</div>
    <div> Count Sold Lots: @Model.CountSoldLots</div>
    <div> Count all Active Lots: @Model.CountActiveLots</div>
</div>

<h1 style="color: red">@ViewBag.Message</h1>

