@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ART Auction</h1>
    <p class="lead">There will be basic information, and the logic of the project.</p>
</div>

<div class="row">
   @using (Html.BeginForm())
	 {
		<div>
			<fieldset>
				<div class="editor-label">
					@Html.Label("Enter some message:")
				</div>
				<div class="editor-field">
					@Html.TextArea("str")
				</div>
			</fieldset>
			<input type="submit" value="Create Message" />
		</div>
	 }
</div>